form  {
  li {
    list-style-type: none;
    p.inline-hints {
      font-size: 0.75em;
      color: #555;
      margin-top: -0.6em;
    }
  }
}

label.label {
  background-color: transparent;
  color: #333;
  padding: 0.3em 0;
  font-size: 1.2em;
  white-space: initial;
  abbr {
    display: none;
  }
}
.hidden {
	display: none;
}

.alert.alert-error > ul.error-list {
  margin-bottom: 0px;
}


/*
** Timeish fixes.
*/

.datetime_select .form-control,
.date_select .form-control,
.time_select .form-control,
.datetime .form-control,
.date .form-control,
.time .form-control
 {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
	padding: 0px 0px;
}

.datetime_select .form-control select,
.date_select .form-control select,
.time_select .form-control select,
.datetime .form-control select,
.date .form-control select,
.time .form-control select 
{
	/* This works for me in FireFox but does not work in
	   Safari or Chrome (31.)  If I set a background-color
	   it will suddenly work in both of those browsers.
	*/
	height: 34px; 
}

.ticket_text {
  padding: 2rem;
  font-color: #555;
  font-style: italic;
  font-size: 0.9em;
}

#quick_edit {
  span { float: left; }
  select {
    float: left;
    font-size: 0.9em;
    height: 15px;
  }
  font-size: 0.75em;
}
.issuer {
  .name {
    a {
      color: green;
    }
  }
  .date {
    float: right;
    color: #777;
  }
}

.assigned {
  &.my_ticket {
    font-weight: bold;
    a {
      color: green;
    }
  }
  .date {
    float: right;
    color: #777;
  }
}


.comments_index {
  .comment.row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #832052;
    &.system {
      font-size: 0.9em;
      .comment_content {
        font-style: italic;
        p {
          font-size: 0.9em;
        }
      }
    }
  }
}

table {
    border-collapse: collapse;
}

td {
    position: relative;
    padding: 5px 10px;
}

tr.waiting_for_feedback {
  border: 1px solid red;
  border-bottom: 1px solid red !important;
  td {
    background-color: #FFEEEE;
  }
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

h3 {
  a {
    color:#333;
  }
}

h1.ticket_header {
  margin-bottom: 0;
  a {
    color: #333;
  }
}

.ticket_heading {
  .float-left {
    img {
      padding: 10px 20px 20px 0;
    }
  }
  a.github {
    margin-top: 12px;
  }
}